.label {
  font-size: 1.2rem;
  margin-bottom: 10px;
  display: block;
}

.input {
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
}

.button {
  font-size: 15px;
  padding: 10px;
}
